{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container mb-5">
		{# <div class="row d-flex justify-content-center">
								        <div class="col-md-6 col-lg-4 custom-login-form p-lg-5 p-md-4 p-sm-3">
								            <form method="post">
								            {% if error %}
								                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
								            {% endif %}
								
								            {% if app.user %}
								                <div class="mb-3">
								                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
								                </div>
								            {% endif %}
								
								            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
								            <label for="inputEmail">Email</label>
								            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
								            <label for="inputPassword">Mot de passe</label>
								            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
								
								            <input type="hidden" name="_csrf_token"
								                   value="{{ csrf_token('authenticate') }}"
								            >
								
								            {#
								            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
								            See https://symfony.com/doc/current/security/remember_me.html
								
								            <div class="checkbox mb-3">
								                <label>
								                    <input type="checkbox" name="_remember_me"> Remember me
								                </label>
								            </div>
								            #}

		{# <button class="btn btn-lg mt-3 custom-btn" type="submit">
								                Valider
								            </button>
								        </form>
								        </div>
								    </div> #}

			<section class="h-100 gradient-form"> <div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-xl-10">
						<div class="card rounded-3 text-black">
							<div class="row g-0">
								<div class="col-lg-6">
									<div class="card-body p-md-5 mx-md-4">

										<div class="text-center">
											<img class="logo" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" alt="logo">
											<h4 class="mt-1 mb-5 pb-1">Bienvenue sur votre back office</h4>
										</div>

										<form>
											<p>Veuillez vous connecter à votre compte</p>

											<div class="form-outline mb-4">
												<input type="email" id="form2Example11" class="form-control" placeholder="votre adresse mail..."/>
												<label class="form-label" for="form2Example11">pseudo</label>
											</div>

											<div class="form-outline mb-4">
												<input type="password" id="form2Example22" class="form-control"/>
												<label class="form-label" for="form2Example22">mot de passe</label>
											</div>

											<div class="text-center pt-1 mb-5 pb-1">
												<button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">Connexion</button>
												<a class="text-muted" href="{{ path("app_forgot_password_request") }}">Mot de passe oublié ?</a>
											</div>

											<div class="d-flex align-items-center justify-content-center pb-4">
												<p class="mb-0 me-2">Pas de compte ?</p>
												<a href="{{ path("app_home") }}" type="button" class="btn btn-outline-danger">Créer un nouveau compte</a>
											</div>

										</form>

									</div>
								</div>
								<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
									<div class="text-white px-3 py-4 p-md-5 mx-md-4">
										<h4 class="mb-4">Gérez vos données depuis notre plateforme</h4>
										<p class="small mb-0">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
