{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}

	<section class="py-5 mt-4">
		<div class="container-fluid container-lg">
        
			{% if products|length > 0 %}
            <h3 class="display-5">{{ title }}</h3>
				<table class="table table-sm table-hover table-responsive mt-5">
					<thead>
						<tr>
							<th scope="col" class="text-center">#</th>
							<th scope="col" class="text-center">NOM</th>
							<th scope="col" class="text-center">RÉFÉRENCE</th>
							<th scope="col" class="text-center">CATÉGORIE</th>
							<th scope="col" class="text-center">QUANTITÉ</th>
							<th scope="col" class="text-center">PRIX</th>
						</tr>
					</thead>
					{% for product in products %}
						<tr>
							<td class="text-center">{{ product.id }}</td>
							<td class="text-center">{{ product.name }}</td>
							<td class="text-center">{{ product.reference }}</td>
							<td class="text-center">{{ product.category.name }}</td>
							<td class="text-center">{{ product.quantity }}</td>
							<td class="text-center">{{ product.price }}</td>
							<td class="text-end">
								<a class="btn btn-warning" href="{{ path('app_update_product', {'id': product.id }) }}" alt="bouton pour modifier le produit courant">
									<i class="bi bi-pencil-square"></i>
								</a>
								<a class="btn btn-danger" href="{{ path('app_delete_product', {'id': product.id }) }}" alt="bouton pour supprimer le produit courant">
									<i class="bi bi-trash"></i>
								</a>
							</td>
						</tr>
					{% endfor %}

				{% else %}
					<p>Il n'y a aucun produit référencé.</p>
				{% endif %}

			</table>
		</div>
	</section>

{% endblock %}
