

{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}

    <section class="py-5 mt-4">
        <div class="container">
            {% if products|length > 0 %}
            <table class="table table-sm table-hover d-none d-sm-table">
                <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">NOM</th>
                    <th scope="col" class="text-center">RÉFÉRENCE</th>
                    <th scope="col" class="text-center">QUANTITÉ</th>
                    <th scope="col" class="text-center">PRIX</th>
                </tr>
                </thead>
                {% for product in products %}
                    <tr>
                        <td class="text-center">{{ product.id }}</td>
                        <td class="text-center">{{ product.name }}</td>
                        <td class="text-center">{{ product.reference }}</td>
                        <td class="text-center">{{ product.quantity }}</td>
                        <td class="text-center">{{ product.price }}</td>
                        <td class="text-end">
                            <a class="btn btn-warning" href="{{ path('app_update_product', {'id': product.id }) }}">éditer</a>
                            <a class="btn btn-danger" href="{{ path('app_delete_product', {'id': product.id }) }}">supprimer</a>
                            {# ajouter une intervention JS (preventDefault) pour s'assurer de la volonté de supprimer le produit #}
                        </td>
                    </tr>
                {% endfor %}

                {% else %}
                <p>Il n'y a aucun produit référencé.</p>
                {% endif %}

            </table>
        </div>
    </section>

{% endblock %}
