{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="col-6 mx-auto">
        <h1 class="display-5">{{ form_title }}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Valider</button>
        <a href="{{ path("app_products") }}" class="btn btn-warning">Annuler</a>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}